<div class="row bg-gray">
    <div class="container no-border bg-gray">
        <div class="margin-" style="height:40px;"></div>
        <div class="account-wrapper">
            <div class="account-sidebar bg-white">
                <div class="avatar">
                    <img src="http://static.smartisanos.cn/account/asset/img/default-user-avatar.png">
                </div>
                <div class="orders">
                    <a href="/account/orders">我的订单</a>
                </div>
                <div class="orders">
                    <a href="/account/orders/coupon">我的优惠</a>
                </div>
                <div class="orders">
                    <a href="/account/orders/support">售后服务</a>
                </div>
                <div class="info">
                    <a href="/account/orders/profile">账户资料</a>
                </div>
                <div class="address">
                    <a href="/account/orders/address">收货地址</a>
                </div>
            </div>

            <div class="account-content ">
                <div class="account-order">
                    <div class="gray-box  bg-white">
                        <div class="title">
                            <h2>我的优惠</h2>
                        </div>
                        <div class="empty-coupon-list js-empty-list">
                            <h2>您目前还没有优惠券</h2>
                            <div class="gray-normal-btn ">
                                <a href="/">返回首页</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
