<div class="row bg-gray">
    <div class="container no-border bg-gray">
        <div class="margin-" style="height:40px;"></div>
        <div class="account-wrapper">
            <div class="account-sidebar bg-white">
                <div class="avatar">
                    <img src="http://static.smartisanos.cn/account/asset/img/default-user-avatar.png">
                </div>
                <div class="orders">
                    <a href="/account/orders">我的订单</a>
                </div>
                <div class="orders">
                    <a href="/account/orders/coupon">我的优惠</a>
                </div>
                <div class="orders">
                    <a href="/account/orders/support">售后服务</a>
                </div>
                <div class="info">
                    <a href="/account/orders/profile">账户资料</a>
                </div>
                <div class="address">
                    <a href="/account/orders/address">收货地址</a>
                </div>
            </div>

            <div class="account-content ">
                <div class="account-order">
                    <div class="gray-box  bg-white">
                        <div class="title">
                            <h2>账户资料</h2>
                        </div>
                        <div class="profile-box">
                            <div class="account-avatar">
                                <div class="account-avatar-image">
                                    <img src="http://static.smartisanos.cn/account/asset/img/default-user-avatar.png">
                                </div>
                                <div class="safe-center-title">
                                    <span>修改头像</span>
                                    <br><br>
                                    <!-- <form class="" action="/account/orders/avatar" method="post">

                                  </form> -->

                                    <form id="edit_user_1" action="/account/orders/<%= current_user.id%>" accept-charset="UTF-8" method="post">
                                        <input name="utf8" type="hidden" value="✓">
                                        <input type="hidden" name="_method" value="patch">
                                        <input type="hidden" name="authenticity_token" value="u5pzaOt0QeDCTMaoLSaXDtsWsBJiXI+BY+mQUG46b9T/qwYXPrkQu8nyJ8ejoO3pajtwQrpk7Q+tUpc1wuroKg==">
                                        <a href="javascript:;" class="blue-small-btn">
                                          上传图片
                                          <input type="file" class="upload_user_avatar" name="" value="">
                                        </a>
                                        <!-- <input type="submit" name="commit" value="上传图片" data-disable-with="上传图片..." class="btn blue-small-btn "> -->
                                    </form>
                                    <%#= form_for current_user, url: account_orders_path(current_user) do |f| %>
                                    <%#= f.submit "上传图片", data: { disable_with: "上传图片..." } %>
                                    <%# end %>
                                </div>
                            </div>
                            <div class="nickname">
                                <span>账户昵称</span>
                                <p>
                                    <% if current_user.nickname.blank?%>
                                    未设置
                                <% else %>
                                    <%= current_user.nickname %>
                                    <% end %>
                                </p>
                                <div class="opreate">
                                    <a href="/account/orders/nickname" target="_blank">现在设置</a>
                                </div>
                            </div>
                            <div class="email-verify">
                                <span>邮箱验证</span>
                                <p>
                                  <% if current_user.nickname.blank?%>
                              <% else %>

                                  <% end %>
                                  您验证的邮箱：xi************04@gmail.com</p>
                                <div class="opreate">
                                    <a href="https://account.smartisan.com/#/modifyName" target="_blank">现在设置</a>
                                </div>
                            </div>
                            <div class="login-password">
                                <span>登录密码</span>
                                <p>互联网账号存在被盗风险，建议您定期更改密码以保护账户安全</p>
                                <div class="opreate">
                                    <a href="https://account.smartisan.com/#/modifyName" target="_blank">现在设置</a>
                                </div>
                            </div>
                            <div class="security-verify">
                                <span>安全问题</span>
                                <p>未设置。</p>
                                <div class="opreate">
                                    <a href="https://account.smartisan.com/#/modifyName" target="_blank">现在设置</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
  $(function () {
    // $('.upload_user_avatar').click()
    // console.log($('.upload_user_avatar'));
    // $.post(
    //   url,
    //   {"user.nickname",nickname},
    //   function (data) {
    //
    //   }
    // )
  })
</script>
