


<div class="user-info-form">
  <form novalidate="novalidate" class="simple_form edit_user_info" id="edit_user_info_<%= user_info.id%>" action="/user_infos/<%= user_info.id%>" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="patch">
      <div class="form-group string optional user_info_name"><input class="form-control string optional" placeholder="收货人姓名" type="text" value="刘潇阳2121" name="user_info[name]" id="user_info_name"></div>
      <div class="form-group integer optional user_info_tel"><input class="form-control numeric integer optional" placeholder="手机号" type="number" step="1" value="18" name="user_info[tel]" id="user_info_tel"></div>
      <div class="form-group select optional user_info_province">
          <select class="form-control select edit-area optional" name="user_info[province]" id="user_info_province">
              <option value="">请选择省份</option>
          </select>
          <div class="triangle"></div>
      </div>
      <div class="form-group select optional user_info_city">
          <select class="form-control select edit-area optional" name="user_info[city]" id="user_info_city">
              <option value="">请选择城市</option>
          </select>
          <div class="triangle"></div>
      </div>
      <div class="form-group select optional user_info_county">
          <select class="form-control select edit-area optional" name="user_info[county]" id="user_info_county">
              <option value="">请选择县区</option>
          </select>
          <div class="triangle"></div>
      </div>
      <div class="form-group string optional user_info_address"><input class="form-control string optional" placeholder="详细地址，如街道名称，楼层，门牌号码等" type="text" value="" name="user_info[address]" id="user_info_address"></div>
      <div class="boolean-group boolean optional user_info_is_default">
          <div class="checkbox"><input value="0" type="hidden" name="user_info[is_default]">
              <label class="boolean optional" for="user_info_is_default"><input class="boolean optional" type="checkbox" value="1" name="user_info[is_default]" id="user_info_is_default">设为默认</label>
          </div>
      </div>
      <div class="form-actions">
          <input type="submit" name="commit" value="Update User info" class="btn btn-default user_info_submit dialog-blue-btn" data-disable-with="Update User info">
      </div>
  </form>
</div>
