// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart-index {
    position: relative;
    overflow: hidden;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #dcdcdc;
    border-color: rgba(0,0,0,.14);
    box-shadow: 0 3px 8px -6px rgba(0,0,0,.1);

    .top {
        span {
            font-size: 100%;
            font-weight: 400;
        }
        position: relative;
        z-index: 1;
        height: 60px;
        padding: 0 10px 0 24px;
        border-bottom: 1px solid #d4d4d4;
        border-radius: 8px 8px 0 0;
        box-shadow: rgba(0,0,0,.06) 0 1px 7px;
        background: #f3f3f3;
        background: -webkit-linear-gradient(#fbfbfb,#ececec);
        background: linear-gradient(#fbfbfb,#ececec);
        line-height: 60px;
        font-size: 18px;
    }

    .middle {
        text-align: center;

        .middle-title {
            position: relative;
            z-index: 1;
            line-height: 38px;
            height: 38px;
            padding: 0 0 0 24px;
            font-size: 12px;
            background: #eee;
            border-bottom: 1px solid #dbdbdb;
            border-bottom-color: rgba(0,0,0,.08);
        }

        .operation,
        .price,
        .quantity,
        .subtotal {
            width: 20%;
            float: right;
            text-align: center;
        }
    }

    .middle-table {
        border-bottom: 1px solid #dbdbdb;
        padding: 0 0 0 24px;
        height: auto;
        overflow: hidden;

        .cart-detail {
            padding: 40px 0;

            a {
                height: 80px;
                line-height: 80px;
                margin-left: 1%;
            }

            img {
                display: inline-block;
                float: left;
                border: 1px solid #d4d4d4;
                width: 80px;
                height: 80px;
            }
        }

        .operation,
        .price,
        .quantity,
        .subtotal {
            width: 20%;
            float: right;
            text-align: center;
            vertical-align: middle;

            .countNumber {
                padding-top: 5px;
                position: relative;

                a:nth-of-type(1) {
                    position: relative;
                    float: left;
                    padding: 20px;
                    height: 160px;
                    display: inline-block;
                    user-select: none;
                    background-image: url("/images/mouseover-down.png");
                    background-size: 36px 36px;
                    background-repeat: no-repeat;
                    background-position: center;
                }

                input {
                    position: relative;
                    overflow: hidden;
                    float: left;
                    display: inline-block;
                    margin: 10px 0;
                    width: 46px;
                    height: 140px;
                    background-color: transparent;
                    border: none;
                    border-radius: 3px;
                    text-align: center;
                    font-size: 14px;
                    line-height: 18px;
                    padding: 0;
                }

                a:nth-of-type(2) {
                    position: relative;
                    float: left;
                    padding: 20px;
                    height: 160px;
                    display: inline-block;
                    user-select: none;
                    background-image: url("/images/mouseover-up.png");
                    background-size: 36px 36px;
                    background-repeat: no-repeat;
                    background-position: center;
                }

                .selecte-quantity {
                    float: left;
                    width: 160px;
                }
            }

            p {
                height: 160px;
                line-height: 160px;
            }
        }
    }

    .bottom {
        // border-top: 1px solid #dbdbdb;
        // overflow: hidden;
        // margin: 4%;
        height: auto;

        .bottom-left {
            padding: 1%;

            .gray-lager-btn {
                margin-left: 30px;
                display: inline-block;
                width: 143px;
                height: 48px;
                line-height: 48px;
                text-align: center;
                background: -webkit-linear-gradient(#fff, #fafafa);
                background: linear-gradient(#fff, #fafafa);
                border: 1px solid #e0e0e0;
                border-radius: 7px;
                color: #8c8c8c;
                cursor: pointer;
            }
        }

        .bottom-right {
            // height: 48px;
            // line-height: 48px;
            padding: 1%;

            .render-cart-total-price {
                display: inline-block;
                height: 48px;
                line-height: 48px;

                span {
                    font-size: 25px;
                    font-weight: 400;
                    color: red;
                    display: inline-block;
                    position: relative;
                    top: 3px;
                }
            }

            .blue-large-btn {
                display: inline-block;
                width: 143px;
                height: 48px;
                line-height: 48px;
                text-align: center;
                border-radius: 7px;
                border: 1px solid #5c81e3;
                background-color: #5c85e5;
                background-image: -webkit-linear-gradient(#779ae9, #5078df);
                background-image: linear-gradient(#779ae9, #5078df);
                color: #fff;
                cursor: pointer;
            }
        }
    }
}

.cart-items-empty {
    position: relative;
    overflow: hidden;
    margin: 4%;
    padding: 300px 0 0;
    background-image: url("/images/cart-empty.png");
    height: 100%;
    /* Full height */
    background-position: center;
    /* Center and scale the image nicely */
    background-repeat: no-repeat;
}

.cart-items-empty-bottom {
    text-align: center;
    margin-bottom: 4%;

    h4 {}
}
/*receiver*/
.box {
    overflow: hidden;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #dcdcdc;
    border-color: rgba(0,0,0,.14);
    box-shadow: 0 3px 8px -6px rgba(0,0,0,.1);

    .box-top {
        position: relative;
        height: 60px;
        background: linear-gradient(#FFF,#F5F5F5);

        span {
            line-height: 60px;
            font-size: 18px;
            font-weight: 400;
            margin-left: 20px;
        }
        border-bottom: 1px solid #d4d4d4;
        box-shadow: rgba(0,0,0,.06) 0 1px 7px;
        line-height: 60px;
        font-size: 18px;
    }

    .box-middle {
        padding: 2%;
        overflow: hidden;

        .selected-address{
          background: #FFF !important;
          border-color: #6A8FE5 !important;
        }

        .address-wrap:hover {
            background: #FFF;
            border-color: #6A8FE5;

            .operation-section {
                visibility: visible;
                -webkit-transform: translate(0,0);
                -moz-transform: translate(0,0);
                transform: translate(0,0);
            }
        }

        .address-wrap {
            padding: 19px 14px 0 19px;
            background: #FFF;
            position: relative;
            overflow: hidden;
            margin: 10px 10px;
            float: left;
            width: 250px;
            height: 158px;
            border: 1px solid #E5E5E5;
            border-radius: 3px;
            line-height: 14px;
            text-align: left;
            word-wrap: break-word;
            word-break: normal;
            color: #626262;
            cursor: pointer;
            -moz-user-select: -moz-none;
            -webkit-user-select: none;
            user-select: none;

            .address-item {
                .name-section {
                    height: 16px;
                    padding-right: 20px;
                    line-height: 16px;
                    font-size: 16px;
                    color: #666;
                }

                .mobile-section {
                    height: 31px;
                    padding-top: 17px;
                    line-height: 14px;
                    color: #999;
                }

                .detail-section {
                    padding-top: 6px;
                    line-height: 24px;
                    color: #999;
                }
            }
        }

        .add-section {
            background: #FAFAFA;

            p {
                height: 14px;
                padding-top: 85px;
                line-height: 14px;
                text-align: center;
                color: #999;
            }
        }

        .add-section::before {
            content: '十';
            display: block;
            position: absolute;
            left: 50%;
            top: 54px;
            height: 24px;
            margin-left: -10px;
            line-height: 24px;
            text-align: center;
            font-size: 24px;
            font-weight: 400;
            color: #626262;
        }

        .operation-section {
            visibility: hidden;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 28px;
            background: #E1E1E1;
            border-top: 1px solid #E1E1E1;
            transition: transform 0.2s ease;
            -moz-transition: transform 0.2s ease;
            -webkit-transition: transform 0.2s ease;
            -webkit-transform: translate(0,29px);
            -moz-transform: translate(0,29px);
            transform: translate(0,29px);

            .update-btn {
                float: left;
                display: block;
                height: 28px;
                width: 50%;
                background: #FFF;
                text-align: center;
                line-height: 28px;
                font-size: 12px;
            }

            .delete-btn {
                float: left;
                display: block;
                height: 28px;
                width: 50%;
                background: #FFF;
                text-align: center;
                line-height: 28px;
                font-size: 12px;
            }
        }
    }
}
@media (min-width: 768px) {
    .modal-dialog {
        width: 450px !important;
        // margin: 10% auto !important;
        /*这里的百分比好像是从整个窗口的高度算的*/
    }
}

.modal-content {
    width: 450px;
    background: #FFF;
    height: 592px!important;
    position: relative;
    width: 436px;
    min-width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset, 1px 0 3px rgba(0,0,0,.1);
    text-align: left;
    display: inline-block;
    vertical-align: middle;

    .topbar {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 60px;
        background: #F5F5F5;
        background: linear-gradient(#FFF,#F5F5F5);
        border-bottom: 1px solid #DCDCDC;
        border-radius: 10px 10px 0 0;
        box-shadow: 2px 0 5px rgba(0,0,0,.1);

        .dialog-tit {
            height: 60px;
            padding: 0 15px;
            line-height: 60px;

            h4 {
                text-align: center;
                font-size: 18px;
                font-weight: 400;
                color: #666;
                line-height: 60px;
                margin: 0;
            }
        }

        .dialog-close {
            overflow: hidden;
            display: block;
            position: absolute;
            right: 10px;
            top: 15px;
            z-index: 20;
            width: 30px;
            height: 30px;
            line-height: 30px;
            font-size: 30px;
            color: #000;
            opacity: 0.2;
            cursor: pointer;
            -webkit-transition: all 0.3s linear;
            -moz-transition: all 0.3s linear;
            transition: all 0.3s linear;
        }
    }

    .modal-body,.modal-body-edit {
        min-width: 220px;
        min-height: 150px;

        .user-info-form {
            width: 370px;
            margin: 15px auto;

            .triangle {
                width: 0;
                height: 0;
                position: absolute;
                right: 5%;
                bottom: 25%;
                border: 6px solid #333333;
                border-left-color: transparent;
                border-bottom-color: transparent;
                border-right-color: transparent;
            }

            .form-group {
                position: relative;
                height: 46px;
                background: #FFF;
                border: 1px solid #CCC;
                border-radius: 6px;
                box-shadow: 0 3px 5px -4px rgba(0,0,0,.4) inset, -1px 0 3px -2px rgba(0,0,0,.1) inset;
                line-height: 46px;
                font-size: 18px;
                opacity: 0.618;
                -moz-transition: opacity 0.3s ease;
                -webkit-transition: opacity 0.3s ease;
                transition: opacity 0.3s ease;

                input {
                    padding: 0 15px;
                    background-color: transparent;
                    border: none;
                    font-size: 16px;
                    height: 46px;
                }

                select {
                    font-weight: 400;
                    height: 44px;
                    padding: 0 15px;
                    margin: 0;
                    background: -webkit-linear-gradient(top,#FAFAFA,#F5F5F5);
                    background: linear-gradient(#FAFAFA,#F5F5F5);
                    border: none;
                    border-radius: 6px;
                    box-shadow: 2px 0 0 rgba(255,255,255,.4) inset, 1px 0 0 rgba(255,255,255,.3);
                    line-height: 48px;
                    text-indent: 0;
                    outline: 0;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    cursor: pointer;
                }
            }

            .dialog-blue-btn {
                width: 100%;
                height: 46px;
                padding: 1px;
                background: #6383C6;
                background: linear-gradient(#6383C6,#4262AF);
                border-radius: 6px;
                color: #FFF;
            }
        }
    }
}
/*order*/
.order-title {
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.order-detail {
    text-align: center;
    height: 40px;
    line-height: 40px;
}
