// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart-index {
    position: relative;
    overflow: hidden;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #dcdcdc;
    border-color: rgba(0,0,0,.14);
    box-shadow: 0 3px 8px -6px rgba(0,0,0,.1);

    .top {
        span {
            font-size: 100%;
            font-weight: 400;
        }
        position: relative;
        z-index: 1;
        height: 60px;
        padding: 0 10px 0 24px;
        border-bottom: 1px solid #d4d4d4;
        border-radius: 8px 8px 0 0;
        box-shadow: rgba(0,0,0,.06) 0 1px 7px;
        background: #f3f3f3;
        background: -webkit-linear-gradient(#fbfbfb,#ececec);
        background: linear-gradient(#fbfbfb,#ececec);
        line-height: 60px;
        font-size: 18px;
        color: #333;
    }

    .middle {
        text-align: center;

        .middle-title {
            position: relative;
            z-index: 1;
            line-height: 38px;
            height: 38px;
            padding: 0 0 0 24px;
            font-size: 12px;
            background: #eee;
            border-bottom: 1px solid #dbdbdb;
            border-bottom-color: rgba(0,0,0,.08);
        }

        .operation,
        .price,
        .quantity,
        .subtotal {
            width: 20%;
            float: right;
            text-align: center;
        }
    }

    .middle-table {
        border-bottom: 1px solid #dbdbdb;
        padding: 0 0 0 24px;
        height: auto;
        overflow: hidden;

        .cart-detail {
            padding: 40px 0;

            a {
                height: 80px;
                line-height: 80px;
                margin-left: 1%;
            }

            img {
                display: inline-block;
                float: left;
                border: 1px solid #d4d4d4;
                width: 80px;
                height: 80px;
            }
        }

        .operation,
        .price,
        .quantity,
        .subtotal {
            width: 20%;
            float: right;
            text-align: center;
            vertical-align: middle;

            .countNumber {
                padding-top: 5px;
                position: relative;

                a:nth-of-type(1) {
                    position: relative;
                    float: left;
                    padding: 20px;
                    height: 160px;
                    display: inline-block;
                    user-select: none;
                    background-image: url("/images/mouseover-down.png");
                    background-size: 36px 36px;
                    background-repeat: no-repeat;
                    background-position: center;
                }

                input {
                    position: relative;
                    overflow: hidden;
                    float: left;
                    display: inline-block;
                    margin: 10px 0;
                    width: 46px;
                    height: 140px;
                    background-color: transparent;
                    border: none;
                    border-radius: 3px;
                    text-align: center;
                    font-size: 14px;
                    line-height: 18px;
                    padding: 0;
                }

                a:nth-of-type(2) {
                    position: relative;
                    float: left;
                    padding: 20px;
                    height: 160px;
                    display: inline-block;
                    user-select: none;
                    background-image: url("/images/mouseover-up.png");
                    background-size: 36px 36px;
                    background-repeat: no-repeat;
                    background-position: center;
                }

                .selecte-quantity {
                    float: left;
                    width: 160px;
                }
            }

            p {
                height: 160px;
                line-height: 160px;
            }
        }
    }

    .bottom {
        // border-top: 1px solid #dbdbdb;
        // overflow: hidden;
        // margin: 4%;
        height: auto;

        .bottom-left {
            padding: 1%;

            .gray-lager-btn {
                margin-left: 30px;
                display: inline-block;
                width: 143px;
                height: 48px;
                line-height: 48px;
                text-align: center;
                background: -webkit-linear-gradient(#fff, #fafafa);
                background: linear-gradient(#fff, #fafafa);
                border: 1px solid #e0e0e0;
                border-radius: 7px;
                color: #8c8c8c;
                cursor: pointer;
            }
        }

        .bottom-right {
            // height: 48px;
            // line-height: 48px;
            padding: 1%;

            .render-cart-total-price {
                display: inline-block;
                height: 48px;
                line-height: 48px;

                span {
                    font-size: 25px;
                    font-weight: 400;
                    color: red;
                    display: inline-block;
                    position: relative;
                    top: 3px;
                }
            }

            .blue-large-btn {
                display: inline-block;
                width: 143px;
                height: 48px;
                line-height: 48px;
                text-align: center;
                border-radius: 7px;
                border: 1px solid #5c81e3;
                background-color: #5c85e5;
                background-image: -webkit-linear-gradient(#779ae9, #5078df);
                background-image: linear-gradient(#779ae9, #5078df);
                color: #fff;
                cursor: pointer;
            }
        }
    }
}

.cart-items-empty {
    position: relative;
    overflow: hidden;
    margin: 4%;
    padding: 300px 0 0;
    background-image: url("/images/cart-empty.png");
    height: 100%;
    /* Full height */
    background-position: center;
    /* Center and scale the image nicely */
    background-repeat: no-repeat;
}

.cart-items-empty-bottom {
    text-align: center;
    margin-bottom: 4%;

    h4 {}
}
/*order*/
.order-title {
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.order-detail {
    text-align: center;
    height: 40px;
    line-height: 40px;
}
