// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*app/views/account/orders/index.html.erb*/
.account-wrapper {
    position: relative;
    min-height: 550px;

    .account-sidebar {
        /*位置*/
        float: left;
        /*盒子设置*/
        padding: 20px 0 0;
        /*外观背景边框宽高*/
        border-radius: 10px;
        border: 1px solid #D1D1D1;
        border-color: rgba(0,0,0,.14);
        border-radius: 8px;
        box-shadow: 0 3px 8px -6px rgba(0,0,0,.1);
        text-align: center;
        overflow: hidden;
        min-width: 18%;

        .avatar {
            width: 100%;
            height: 188px;

            img {
                width: 168px;
                height: 168px;
            }
        }

        .address,
        .info,
        .orders {
            position: relative;
            height: 48px;
            border-top: 1px solid #EBEBEB;
            line-height: 48px;

            a {
                display: block;
                height: 48px;
                padding: 0 30px;
                color: #666;
                -moz-transition: none;
                -webkit-transition: none;
                transition: none;
            }

            a:link {
                text-decoration: none;
            }
            //防止点击之后出现下划线
            a:hover {
                text-decoration: none;
            }
        }
    }

    .account-content {
        margin-left: 20%;

        .account-order {
            min-width: 912px;
        }

        .gray-box {
            // overflow: hidden;
            border: 1px solid #D1D1D1;
            border-radius: 8px;
            box-shadow: 0 3px 8px -6px rgba(0,0,0,.1);

            .title {
                height: 60px;
                padding: 0 10px 0 28px;
                background: #F5F5F5;
                background: linear-gradient(#FFF,#F5F5F5);
                border-radius: 10px 10px 0 0;
                box-shadow: 0 1px 7px rgba(0,0,0,.06);
                line-height: 60px;
                color: #646464;
                border-bottom: 1px solid #DBDBDB;

                h2 {
                    float: left;
                    font-size: 18px;
                    font-weight: 400;
                    color: #626262;
                }
            }
            //coupon
            .empty-coupon-list {
                background: url("../images/empty-coupon.png") top center no-repeat;
                background-size: 92px auto;
                padding: 145px 0 150px;
                margin-top: 105px;
                text-align: center;
                font-size: 18px;

                h2 {
                    line-height: 1em;
                    font-size: 22px;
                    color: #999;
                }

                .gray-normal-btn {
                    margin-top: 20px;
                    display: inline-block;
                    background: #F2F2F2;
                    background: linear-gradient(#fff,#ececec);
                    border: 1px solid #dbdde2;
                    border-radius: 6px;
                    height: 38px;
                    line-height: 38px;
                    cursor: pointer;
                    overflow: hidden;

                    a {
                        font-size: 14px;
                        color: #333;
                        display: block;
                        padding: 0 20px;
                    }
                }
            }

            .gray-sub-title {
                height: 38px;
                padding: 0 24px;
                background: #EEE;
                border-top: 1px solid #DBDBDB;
                border-bottom: 1px solid #DBDBDB;
                line-height: 38px;
                font-size: 12px;
                color: #666;

                .left {
                    width: 80%;
                    float: left;
                    overflow: hidden;
                    border-right: 1px solid #DBDBDB;
                    height: 38px;

                    .num,
                    .operation,
                    .price {
                        width: 95px;
                        float: right;
                        text-align: center;
                    }

                    .date,
                    .order-id {
                        float: left;
                        text-align: left;
                        display: inline-block;
                    }

                    .date {
                        width: 108px;
                        padding-left: 6px;
                    }
                }

                .right {
                    width: 20%;
                    float: right;
                    overflow: hidden;

                    .order-detail,
                    .sub-total {
                        position: relative;
                        float: left;
                        // width: 82px;
                        padding-left: 24px;
                        text-align: center;
                    }

                    .sub-total {
                        padding-right: 18px;
                        text-align: right;
                    }
                }

                a {
                    float: right;
                }

                span {
                    float: right;
                    text-align: center;
                }
            }
            ///
            .order-info-wrapper {
                overflow: hidden;
                padding-bottom: 40px;

                .order-status-wrapper {
                    height: 130px;
                    margin: 30px auto 0;

                    .order-status-process {
                        width: 800px;
                        height: 38px;
                        margin: 35px auto 0;
                        position: relative;
                        background: url('/images/order-process-new.png') 0 -295px repeat-x;
                        background-image: -webkit-image-set(url(../images/order-process-new.png) 1x,url(../images/order-process-new.png) 2x);

                        .order-status-text {
                            position: absolute;
                            left: 0;
                            top: -33px;
                            width: 200px;
                            height: 130px;
                            line-height: 16px;
                            text-align: center;
                            font-size: 12px;
                            color: #666;

                            h5 {
                                position: relative;
                                top: 10px;
                                font-size: 18px;
                                color: #666;
                                font-weight: 500;
                            }

                            p {
                                margin: 50px 0 10px;
                            }
                        }
                        // .status-on {
                        //     background: url("../img/order-status-bottom-arrow.png") center bottom no-repeat;
                        // }
                        .status-process {
                            background-color: gray;
                            display: block;
                            height: 38px;
                            width: 0;
                            background: url("/images/order-process-new.png") 0 -245px repeat-x;
                            background-image: -webkit-image-set(url(../images/order-process-new.png) 1x,url(../images/order-process-new.png) 2x);
                        }
                        // span {
                        //   background-color: #fff;
                        .point {
                            position: absolute;
                            display: block;
                            background-color: #fff;
                            width: 38px;
                            height: 38px;
                            margin: 6px 78px 5px;
                            // background: url("/images/order-process-new.png") 0 -158px no-repeat;
                            // background-image: -webkit-image-set(url(../images/order-process-new.png) 1x,url(../images/order-process-new.png) 2x);
                            // background: url("/images/order-process-new.png") -17px -31px no-repeat;
                            background: url("/images/button.png") no-repeat;
                            background-position: center;
                            background-size: 20px 20px;
                            // background-image: -webkit-image-set(url(../images/order-process-new.png) 1x,url(../images/order-process-new.png) 2x);
                        }
                        // }
                    }
                }

                .order-status-now {
                    background: #F6F6F6;
                    border: 1px solid #dadada;
                    border-radius: 5px;
                    padding: 18px 30px 20px;
                    margin: 0 30px;
                    line-height: 38px;

                    .order-title {
                        text-align: center;
                        height: 40px;
                        line-height: 40px;

                        div:nth-of-type(1) {
                            float: left;

                            h3 {
                                font-size: 18px;
                                color: #666;
                            }
                        }

                        div:nth-of-type(2) {
                            float: right;

                            .blue-small-btn {
                                background: #6383C6;
                                background: linear-gradient(#7EA3F5,#5A82F0);
                                box-shadow: 0 1px 2px rgba(255,255,255,.1) inset, 0 0 0 1px rgba(0,0,0,.2) inset, 0 1px 3px rgba(0,0,0,.1);
                                color: #FFF;
                                display: inline-block;
                                height: 30px;
                                padding: 0 13px;
                                border-radius: 4px;
                                line-height: 30px;
                                font-size: 12px;
                                cursor: pointer;
                            }

                            .white-gray-small-btn {
                                background: #F0F0F0;
                                background: linear-gradient(#FFF,#F0F0F0);
                                // background: #ffffff url("img_tree.png") no-repeat 0 0;//示例写法
                                box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset, 0 1px 3px rgba(0,0,0,.1);
                                color: #666;
                                display: inline-block;
                                height: 30px;
                                padding: 0 13px;
                                border-radius: 4px;
                                line-height: 30px;
                                font-size: 12px;
                                cursor: pointer;
                            }
                        }
                    }

                    p {
                        border-top: 1px solid #dcdcdc;
                        margin-top: 20px;
                        padding-top: 16px;
                    }
                }
            }

            .cart {
                height: 110px;
                padding: 0 24px;
                color: #666;
                width: 100%;
                // border-bottom: 1px solid #DBDBDB;
                .cart-items {
                    width: 80%;
                    float: left;
                    overflow: hidden;
                    border-right: 1px solid #DBDBDB;
                    padding: 15px 0;

                    .items-params,
                    .items-thumb {
                        display: inline-block;
                    }

                    .items-thumb {
                        float: left;
                        border: 1px solid #EBEBEB;
                        border-radius: 3px;

                        img {
                            display: block;
                            width: 78px;
                            height: 78px;
                            // vertical-align:bottom;//middle和top也都可以
                        }
                    }

                    .items-params {
                        float: left;
                        height: 80px;
                        padding: 15px 0;
                        margin-left: 29px;
                        border-bottom: none;
                        line-height: 50px;
                    }

                    .num,
                    .operation,
                    .price {
                        width: 95px;
                        float: right;
                        text-align: center;
                        height: 80px;
                        line-height: 50px;
                        padding: 15px 0;
                    }
                }

                .right {
                    width: 20%;
                    float: right;
                    overflow: hidden;
                    padding: 15px 0;

                    .order-detail,
                    .sub-total {
                        width: 75px;
                        float: right;
                        text-align: center;
                        height: 80px;
                        line-height: 50px;
                        padding: 15px 0;
                    }

                    .blue-small-btn {
                        background: #6383C6;
                        background: linear-gradient(#7EA3F5,#5A82F0);
                        box-shadow: 0 1px 2px rgba(255,255,255,.1) inset, 0 0 0 1px rgba(0,0,0,.2) inset, 0 1px 3px rgba(0,0,0,.1);
                        color: #FFF;
                        display: inline-block;
                        height: 30px;
                        padding: 0 13px;
                        border-radius: 4px;
                        line-height: 30px;
                        font-size: 12px;
                        cursor: pointer;
                    }
                }

                .prod-operation {
                    float: right;
                    height: 110px;
                }
            }
        }
    }
}
/*app/views/orders/show.html.erb*/
/*支付宝和微信付款按钮*/
.pay-button {
    float: left;
    width: 175px;
    height: 50px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background: #FAFAFA;
    border: 1px solid #E5E5E5;
    border-radius: 6px;
    box-sizing: border-box;
    cursor: pointer;
}

.alipay-button {
    background-image: url('/images/alipay.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 34px;
}

.weixinpay-button {
    background-image: url('/images/weixinpay.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 34px;
}
/*商品明细*/
.product-order-item {
    overflow: hidden;
    border-top: 1px solid #d5d5d5;
    // border: 1px solid gray;
    // border-radius: 10px;
    hr {
        margin: 0;
        border-top: 1px solid #d5d5d5;
    }

    .product-item-detail,
    .product-item-title {
        height: 80px;
        line-height: 80px;
        min-width: 500px;
        padding: 0 15px;
        overflow: hidden;
        line-height: 80px;

        .product-name {
            width: 580px;
            display: table;
        }

        .calculate-price {
            width: 500px;
            display: table;
        }

        .product-price,
        .quantity,
        .subtotal {
            width: 120px;
            padding-right: 29px;
            text-align: right;
        }

        .product-detail-partial {
            width: 50%;
        }
    }
}

.shipping-detail {
    margin: 5% 0;

    .middle {
        overflow: hidden;
    }

    .bottom {
        height: 60px;
        padding: 10px;
        line-height: 40px;
        background: #f9f9f9;
        border-top: 1px solid #e5e5e5;
        box-sizing: border-box;
    }
}

.confirm-detail {
    padding: 0 15px 25px;
    border-top: 1px solid #d5d5d5;

    .info-title {
        height: 14px;
        padding: 30px 0;
        line-height: 14px;
        font-weight: bolder;
        color: #333;
    }

    .info-detail {
        line-height: 24px;
        color: #666;
    }
}
/*app/views/orders/show.html.erb*/
