<div class="row products-show">
  <div class="col-md-12 col-lg-10 col-lg-offset-1">
    <div class="pull-right">
    </div>
    <p><%= link_to(product.title, product_path(product)) %></p>


    <div class="row">
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
        <p><i class="fa fa-address-card-o" aria-hidden="true"></i>  <%= product.category %></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <span><i class="fa fa-clock-o" aria-hidden="true"></i>  <%= time_ago_in_words(product.created_at) %> ago</span>
      </div>
    </div>
  </div>
</div>
