<div class="row bg-gray">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top-40">
        <div class="container no-padding">
            <div class="slideshow-container">
                <% @products.each_with_index do |product,index|%>
                <% if product.category.name === "酷炫应用"  %>
                <div class="mySlides">
                    <% if product.photos.present? %>
                    <%= image_tag(product.photos[0].avatar.url,id:"#{product.id}") %>
                <% else %>
                    <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
                    <% end %>
                </div>
                <div class="dots">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
                <% else %>
                <div class="mySlides">
                  <img src="" alt="">
                </div>
                <div class="mySlides">
                  <img src="" alt="">
                </div>
                <div class="mySlides">
                  <img src="" alt="">
                </div>
                <% end %>
                <% end %>
            </div>
        </div>
        <hr>
        <h3 style="text-align:center;">精品推荐</h3>
        <div class="container no-padding margin-bottom-40">
            <%= render :partial => "products/product_list"%>

        </div>
    </div>
    <br>
    <hr>

    <h3 style="text-align:center;">追求更好的生活品质</h3>
    <div class="container no-padding aboutUs">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <br>
            <p>唯有不将就，才能不断提升个人品味和生活质量</p>
            <p>生活本应该丰富多彩</p>
            <p>我们提供了以现代科技产品手机为中心，集合智能家居，酷炫应用，视听享受三个方面的选择</p>
            <p>如果您有更棒的想法和品味，请与我们联系</p>
        </div>
    </div>
</div>

<script>
    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {
            slideIndex = 1
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlides, 3000); // Change image every 2 seconds
    }
</script>
